body {
  background-image: url('../images/bg.png');
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

a {
  color: #ff7cc0;
  word-break: break-all;
}

a:hover {
  opacity: .8;
}

.content {
  max-width: 640px;
  margin: auto;
  font-weight: 700;
  padding: 40px 0 100px 0   ;
  color: #ff7cc0;
  z-index: 1;
  position: relative;
}

.bubble-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -40px;
  padding: 0 20px;
}

.body-text--small {
  font-size: 20px;
  line-height: 1.2;
}

.body-text {
  font-size: 28px;
}

@media screen and (min-width: 767px) {
  .body-text {
    font-size: 54px;
  }

  .body-text--small {
    font-size: 30px;
  }
}

.bubble-word{
  display: flex;
}

.tricky {
  margin-top: -100px;
}

.disco {
  margin-top: -200px;
  margin-left: 70px;
}

.letter {
  width: 60px;
  margin: 0 -5px 0;
}

@media screen and (min-width: 767px) {
  .letter {
    width: 100px;
  }
}

.t {
  margin-top: 250px;
}

.r {
  margin-top: 200px;
}

.i {
  margin: 150px -20px 0;
}

.c {
  margin-top: 100px;
}

.k {
  margin-top: 50px;
}

.y {
  margin-top: 0;
}

.d {
  margin-top: 200px;
}

.i-2 {
  margin-top: 150px;
}

.s {
  margin-top: 100px;
}

.c-2 {
  margin-top: 50px;
}

.o {
  margin-top: 0;
}

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
    transform: translateY(0%);
    opacity: 1;	
	}
	50% {
    transform: translateY(2%);
    transform: rotate3d(1, 1, 1, 10deg);
    opacity: .75;

	}	
	150% {
    transform: translateY(0%);
    transform: rotate(0deg);
    opacity: 1;
	}			
}

@-webkit-keyframes floating {
	0% {
    -webkit-transform: translateY(0%);
	}
	50% {
    -webkit-transform: translateY(2%);
	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.floating-slow{
	animation-name: floating-slow;
	-webkit-animation-name: floating-slow;

	animation-duration: 2s;	
  -webkit-animation-duration: 2s;
  
  animation-delay: 1s;
  -webkit-animation-delay: 1s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating-slow {
	0% {
    transform: translateY(0%);
    opacity: 1;	
	}
	50% {
    transform: translateY(2%);	
    transform: rotate3d(1, 1, 1, 10deg);
    opacity: .8;
	}	
	150% {
    transform: translateY(0%);
    opacity: 1;
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
    -webkit-transform: translateY(2%);
    transform: rotate3d(1, 1, 1, 10deg);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

